html {
  height: 100% !important;
  background: radial-gradient(#1b2735 0%, #090a0f 0%) !important;
  overflow: hidden !important;
}

body {
  background-color: #2b2b2b !important;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1540px 122px #fff, 1483px 533px #fff, 505px 1153px #fff,
    1283px 1412px #fff, 248px 1284px #fff, 18px 15px #fff, 1309px 1477px #fff,
    1169px 139px #fff, 286px 898px #fff, 458px 1293px #fff, 569px 2000px #fff,
    322px 1556px #fff, 692px 1111px #fff, 702px 85px #fff, 377px 1167px #fff,
    727px 707px #fff, 83px 1957px #fff, 894px 1756px #fff, 1640px 922px #fff,
    832px 1570px #fff, 537px 601px #fff, 1864px 489px #fff, 1011px 295px #fff,
    847px 144px #fff, 791px 1850px #fff, 1168px 283px #fff, 647px 1591px #fff,
    1273px 1177px #fff, 16px 440px #fff, 1532px 1761px #fff, 1980px 1070px #fff,
    1556px 1502px #fff, 262px 1565px #fff, 1145px 1150px #fff, 35px 1009px #fff,
    1577px 1382px #fff, 897px 1871px #fff, 1671px 408px #fff, 1392px 240px #fff,
    670px 448px #fff, 75px 527px #fff, 552px 1680px #fff, 1961px 301px #fff,
    1238px 1116px #fff, 893px 103px #fff, 1619px 1474px #fff, 794px 1559px #fff,
    413px 1576px #fff, 1343px 1696px #fff, 1817px 1850px #fff, 577px 1081px #fff,
    1920px 1248px #fff, 1274px 999px #fff, 1209px 1307px #fff, 333px 146px #fff,
    1321px 1978px #fff, 1807px 1385px #fff, 1889px 582px #fff, 704px 147px #fff,
    119px 150px #fff, 5px 1216px #fff, 1067px 677px #fff, 769px 737px #fff,
    1752px 1312px #fff, 527px 1724px #fff, 264px 1807px #fff, 1674px 830px #fff,
    1632px 1081px #fff, 1521px 9px #fff, 715px 1948px #fff, 870px 255px #fff,
    767px 300px #fff, 1733px 999px #fff, 1329px 67px #fff, 300px 1812px #fff,
    735px 1460px #fff, 1536px 392px #fff, 602px 1545px #fff, 36px 114px #fff,
    532px 1398px #fff, 908px 886px #fff, 514px 412px #fff, 643px 1560px #fff,
    824px 1905px #fff, 1922px 818px #fff, 1435px 494px #fff, 875px 1746px #fff,
    315px 454px #fff, 336px 1475px #fff, 504px 1841px #fff, 1073px 263px #fff,
    871px 1678px #fff, 1706px 1917px #fff, 1315px 256px #fff, 710px 1778px #fff,
    1917px 1357px #fff, 1819px 545px #fff, 1979px 92px #fff, 455px 1951px #fff,
    1712px 1438px #fff, 1123px 15px #fff, 416px 1821px #fff, 1594px 1927px #fff,
    1069px 1606px #fff, 637px 1948px #fff, 1005px 421px #fff, 1178px 1050px #fff,
    131px 644px #fff, 1650px 1549px #fff, 1931px 697px #fff, 1961px 130px #fff,
    983px 1577px #fff, 1030px 1987px #fff, 312px 323px #fff, 1569px 1450px #fff,
    1290px 1712px #fff, 610px 1250px #fff, 378px 1285px #fff, 1925px 1211px #fff,
    1694px 1147px #fff, 1323px 516px #fff, 1002px 331px #fff, 1953px 1467px #fff,
    87px 1510px #fff, 1479px 1303px #fff, 674px 1593px #fff, 162px 636px #fff,
    1943px 490px #fff, 1483px 673px #fff, 892px 806px #fff, 263px 545px #fff,
    277px 260px #fff, 1917px 701px #fff, 1773px 482px #fff, 394px 709px #fff,
    1960px 1622px #fff, 733px 219px #fff, 1775px 1149px #fff, 523px 362px #fff,
    1170px 1231px #fff, 286px 386px #fff, 1367px 1457px #fff, 1910px 59px #fff,
    791px 1998px #fff, 1494px 568px #fff, 1362px 689px #fff, 1384px 1008px #fff,
    971px 472px #fff, 558px 1034px #fff, 1248px 669px #fff, 785px 1894px #fff,
    544px 759px #fff, 1396px 323px #fff, 1566px 1334px #fff, 1960px 255px #fff,
    1360px 367px #fff, 925px 1809px #fff, 1446px 1753px #fff, 900px 1103px #fff,
    31px 988px #fff, 1755px 349px #fff, 80px 204px #fff, 1406px 1404px #fff,
    552px 657px #fff, 1753px 522px #fff, 49px 1596px #fff, 184px 1555px #fff,
    1586px 684px #fff, 1632px 785px #fff, 601px 1963px #fff, 1308px 653px #fff,
    1670px 1302px #fff, 1386px 841px #fff, 1139px 291px #fff, 867px 974px #fff,
    1597px 1544px #fff, 1088px 1257px #fff, 707px 262px #fff, 349px 1544px #fff,
    594px 1723px #fff, 231px 1078px #fff, 767px 1305px #fff, 1355px 1389px #fff,
    1594px 1327px #fff, 565px 1884px #fff, 1393px 1583px #fff, 289px 1244px #fff,
    497px 1228px #fff, 153px 182px #fff, 614px 54px #fff, 1518px 6px #fff,
    1759px 91px #fff, 1452px 69px #fff, 998px 1259px #fff, 1024px 1949px #fff,
    595px 1746px #fff, 713px 422px #fff, 1777px 510px #fff, 1986px 1618px #fff,
    802px 1708px #fff, 1008px 1232px #fff, 789px 1088px #fff, 1199px 1057px #fff,
    113px 1221px #fff, 1724px 1902px #fff, 1416px 1707px #fff,
    1931px 1668px #fff, 1300px 198px #fff, 396px 1252px #fff, 1009px 1824px #fff,
    555px 1894px #fff, 696px 414px #fff, 495px 1985px #fff, 1005px 1387px #fff,
    221px 1301px #fff, 1264px 634px #fff, 1759px 1027px #fff, 394px 1567px #fff,
    579px 1211px #fff, 1373px 278px #fff, 488px 481px #fff, 1614px 1325px #fff,
    1772px 926px #fff, 805px 1435px #fff, 897px 796px #fff, 129px 410px #fff,
    1016px 1548px #fff, 1173px 1487px #fff, 1022px 1015px #fff,
    1161px 1897px #fff, 1195px 985px #fff, 1773px 759px #fff, 1889px 1337px #fff,
    95px 387px #fff, 998px 1111px #fff, 1133px 1254px #fff, 1012px 322px #fff,
    433px 1996px #fff, 9px 57px #fff, 1845px 861px #fff, 367px 1794px #fff,
    1603px 1941px #fff, 1847px 643px #fff, 1347px 1813px #fff, 878px 444px #fff,
    877px 1318px #fff, 818px 541px #fff, 111px 1253px #fff, 855px 1526px #fff,
    1170px 1719px #fff, 639px 925px #fff, 342px 258px #fff, 1551px 1374px #fff,
    1420px 1309px #fff, 890px 1773px #fff, 756px 271px #fff, 1993px 1460px #fff,
    475px 79px #fff, 158px 821px #fff, 571px 164px #fff, 199px 1835px #fff,
    390px 303px #fff, 781px 370px #fff, 1969px 902px #fff, 651px 1345px #fff,
    1740px 297px #fff, 1858px 661px #fff, 1213px 1298px #fff, 1563px 877px #fff,
    1234px 742px #fff, 546px 953px #fff, 1645px 61px #fff, 1955px 743px #fff,
    1148px 1326px #fff, 687px 523px #fff, 1471px 97px #fff, 1098px 1053px #fff,
    648px 1337px #fff, 1808px 833px #fff, 253px 1698px #fff, 1713px 421px #fff,
    500px 397px #fff, 1745px 1379px #fff, 758px 1265px #fff, 926px 181px #fff,
    1010px 429px #fff, 523px 1535px #fff, 14px 1961px #fff, 515px 649px #fff,
    214px 1550px #fff, 1496px 242px #fff, 396px 546px #fff, 1760px 347px #fff,
    221px 591px #fff, 1624px 33px #fff, 815px 698px #fff, 1544px 1132px #fff,
    783px 176px #fff, 1372px 84px #fff, 686px 310px #fff, 1539px 1224px #fff,
    916px 1737px #fff, 909px 991px #fff, 1433px 1748px #fff, 1138px 1799px #fff,
    1573px 314px #fff, 871px 1825px #fff, 934px 570px #fff, 467px 1775px #fff,
    1670px 1749px #fff, 1854px 9px #fff, 594px 672px #fff, 197px 846px #fff,
    1272px 493px #fff, 1441px 1263px #fff, 595px 1159px #fff, 732px 1615px #fff,
    1683px 1205px #fff, 1017px 548px #fff, 1761px 14px #fff, 1987px 1163px #fff,
    565px 23px #fff, 1566px 1318px #fff, 1258px 130px #fff, 163px 1652px #fff,
    798px 683px #fff, 1768px 1688px #fff, 780px 89px #fff, 478px 150px #fff,
    924px 259px #fff, 111px 1211px #fff, 129px 1324px #fff, 1235px 1051px #fff,
    944px 751px #fff, 1093px 363px #fff, 122px 157px #fff, 415px 198px #fff,
    1757px 788px #fff, 1482px 694px #fff, 29px 1339px #fff, 811px 1330px #fff,
    1835px 200px #fff, 1489px 1545px #fff, 251px 342px #fff, 601px 1638px #fff,
    1518px 1984px #fff, 484px 1399px #fff, 763px 331px #fff, 1137px 1035px #fff,
    253px 616px #fff, 333px 741px #fff, 727px 1748px #fff, 1967px 1158px #fff,
    963px 1573px #fff, 41px 1776px #fff, 1062px 16px #fff, 1166px 247px #fff,
    316px 1513px #fff, 718px 1231px #fff, 1733px 40px #fff, 769px 1496px #fff,
    218px 1646px #fff, 1288px 147px #fff, 1766px 9px #fff, 662px 605px #fff,
    933px 516px #fff, 870px 835px #fff, 1866px 1129px #fff, 818px 620px #fff,
    1605px 926px #fff, 1312px 1097px #fff, 311px 1773px #fff, 1395px 1963px #fff,
    768px 651px #fff, 1898px 1837px #fff, 1140px 1091px #fff, 966px 933px #fff,
    209px 520px #fff, 7px 48px #fff, 1295px 950px #fff, 127px 1981px #fff,
    368px 1412px #fff, 787px 755px #fff, 377px 156px #fff, 55px 900px #fff,
    884px 760px #fff, 1423px 371px #fff, 787px 1413px #fff, 265px 626px #fff,
    497px 126px #fff, 525px 805px #fff, 777px 657px #fff, 535px 704px #fff,
    1542px 185px #fff, 679px 640px #fff, 1876px 562px #fff, 1171px 1593px #fff,
    323px 1015px #fff, 985px 627px #fff, 1244px 353px #fff, 757px 632px #fff,
    1348px 1357px #fff, 1922px 273px #fff, 1821px 949px #fff, 1132px 1946px #fff,
    692px 70px #fff, 645px 1326px #fff, 209px 110px #fff, 873px 69px #fff,
    1560px 186px #fff, 1864px 112px #fff, 1193px 858px #fff, 458px 1293px #fff,
    1205px 1496px #fff, 694px 125px #fff, 676px 1637px #fff, 1459px 1669px #fff,
    1105px 910px #fff, 68px 1026px #fff, 1987px 1766px #fff, 1465px 271px #fff,
    1440px 1285px #fff, 1255px 432px #fff, 254px 586px #fff, 520px 1461px #fff,
    1145px 965px #fff, 441px 1342px #fff, 1597px 452px #fff, 80px 201px #fff,
    1162px 472px #fff, 1138px 1869px #fff, 1993px 1504px #fff,
    1937px 1813px #fff, 417px 1317px #fff, 461px 1729px #fff, 54px 1730px #fff,
    239px 1252px #fff, 715px 1044px #fff, 1772px 394px #fff, 1517px 1448px #fff,
    803px 193px #fff, 581px 625px #fff, 1430px 644px #fff, 1354px 1280px #fff,
    1845px 757px #fff, 1232px 194px #fff, 1108px 1979px #fff, 364px 1786px #fff,
    1908px 11px #fff, 1555px 786px #fff, 1948px 344px #fff, 927px 685px #fff,
    1934px 1416px #fff, 1504px 640px #fff, 1540px 1705px #fff,
    1632px 1115px #fff, 1744px 290px #fff, 1884px 1866px #fff,
    1475px 1937px #fff, 1009px 593px #fff, 800px 853px #fff, 1062px 916px #fff,
    493px 1204px #fff, 1389px 651px #fff, 1993px 671px #fff, 78px 1708px #fff,
    1001px 1467px #fff, 1973px 417px #fff, 846px 1612px #fff, 193px 152px #fff,
    1429px 1851px #fff, 1485px 734px #fff, 1394px 78px #fff, 890px 1942px #fff,
    725px 136px #fff, 1966px 679px #fff, 711px 456px #fff, 382px 261px #fff,
    557px 1614px #fff, 172px 1294px #fff, 1097px 691px #fff, 1459px 887px #fff,
    772px 1463px #fff, 1417px 1647px #fff, 1439px 510px #fff, 1324px 435px #fff,
    183px 944px #fff, 728px 1957px #fff, 176px 418px #fff, 1112px 1138px #fff,
    1863px 775px #fff, 777px 611px #fff, 560px 1698px #fff, 1087px 622px #fff,
    1749px 1161px #fff, 935px 927px #fff, 570px 1452px #fff, 66px 989px #fff,
    618px 498px #fff, 50px 495px #fff, 795px 1129px #fff, 1285px 635px #fff,
    1032px 16px #fff, 1949px 1015px #fff, 745px 609px #fff, 1669px 1073px #fff,
    1021px 531px #fff, 702px 1298px #fff, 928px 1279px #fff, 1063px 125px #fff,
    892px 491px #fff, 23px 1902px #fff, 579px 156px #fff, 604px 1637px #fff,
    1958px 1787px #fff, 812px 169px #fff, 932px 1802px #fff, 1872px 1175px #fff,
    265px 1963px #fff, 419px 428px #fff, 1929px 900px #fff, 1674px 508px #fff,
    1882px 1853px #fff, 1183px 1052px #fff, 1221px 677px #fff, 222px 378px #fff,
    122px 706px #fff, 319px 80px #fff, 84px 34px #fff, 172px 143px #fff,
    1373px 411px #fff, 1943px 417px #fff, 64px 1652px #fff, 894px 726px #fff,
    1868px 1302px #fff, 1291px 886px #fff, 111px 1380px #fff, 1386px 78px #fff,
    1174px 243px #fff, 853px 945px #fff, 467px 928px #fff, 1922px 1464px #fff,
    742px 1104px #fff, 299px 402px #fff, 326px 1562px #fff, 1703px 895px #fff,
    563px 524px #fff, 1965px 391px #fff, 1149px 1009px #fff, 1608px 1795px #fff,
    782px 1058px #fff, 924px 1600px #fff, 1031px 773px #fff, 622px 655px #fff,
    1555px 1726px #fff, 1935px 398px #fff, 296px 1828px #fff, 209px 616px #fff,
    674px 620px #fff, 1105px 1953px #fff, 1262px 1440px #fff, 1119px 428px #fff,
    339px 40px #fff, 63px 1120px #fff, 144px 539px #fff, 1642px 769px #fff,
    1274px 1431px #fff, 364px 1479px #fff, 235px 894px #fff, 867px 409px #fff,
    1582px 1285px #fff, 1926px 123px #fff, 1901px 1094px #fff, 1220px 52px #fff,
    763px 727px #fff, 607px 1383px #fff, 1122px 1595px #fff, 1992px 286px #fff,
    1164px 1088px #fff, 1082px 1729px #fff, 607px 1502px #fff, 284px 1068px #fff,
    658px 969px #fff, 522px 1867px #fff, 1157px 835px #fff, 1500px 642px #fff,
    631px 298px #fff, 1875px 1809px #fff, 1379px 9px #fff, 1390px 202px #fff,
    774px 1031px #fff, 53px 829px #fff, 1864px 1745px #fff, 1392px 1157px #fff,
    698px 1635px #fff, 952px 1168px #fff, 1874px 1220px #fff, 547px 1744px #fff,
    1871px 1604px #fff, 1506px 499px #fff, 1451px 322px #fff, 406px 7px #fff,
    1975px 1496px #fff, 1763px 473px #fff, 10px 644px #fff, 1869px 998px #fff,
    545px 521px #fff, 909px 973px #fff, 1163px 220px #fff, 33px 604px #fff,
    1570px 199px #fff, 890px 1120px #fff, 1081px 1054px #fff, 1729px 461px #fff,
    1009px 540px #fff, 208px 1602px #fff, 319px 76px #fff, 29px 863px #fff,
    1459px 1266px #fff, 829px 897px #fff, 1624px 1472px #fff, 1136px 1649px #fff,
    1631px 31px #fff, 157px 1608px #fff, 1579px 773px #fff, 1136px 381px #fff,
    49px 2px #fff, 1497px 763px #fff, 1169px 251px #fff, 1994px 891px #fff,
    1074px 1580px #fff, 727px 1233px #fff, 490px 1392px #fff, 1578px 1303px #fff,
    846px 1553px #fff, 85px 1889px #fff, 1661px 1452px #fff, 951px 732px #fff,
    1726px 1910px #fff, 660px 869px #fff, 1799px 1333px #fff, 990px 334px #fff,
    1070px 359px #fff, 1289px 1201px #fff, 1456px 1132px #fff, 1925px 712px #fff,
    672px 1251px #fff, 1134px 137px #fff, 1155px 513px #fff, 960px 1895px #fff,
    271px 467px #fff, 1894px 1233px #fff, 1963px 1399px #fff, 556px 195px #fff,
    171px 395px #fff, 1008px 197px #fff, 1484px 1572px #fff, 256px 1629px #fff,
    1338px 246px #fff, 635px 1085px #fff, 289px 1290px #fff, 1014px 1975px #fff,
    1858px 1599px #fff, 1064px 1965px #fff, 516px 1162px #fff, 818px 1520px #fff,
    1336px 1954px #fff, 1376px 1434px #fff, 1880px 1091px #fff, 692px 662px #fff,
    1574px 1880px #fff, 1418px 1547px #fff, 69px 966px #fff, 236px 386px #fff,
    390px 1865px #fff, 740px 571px #fff, 1465px 574px #fff, 1259px 1303px #fff,
    969px 154px #fff, 1556px 1509px #fff, 271px 1679px #fff, 707px 1543px #fff,
    1327px 262px #fff, 23px 367px #fff, 1936px 1231px #fff, 503px 694px #fff,
    780px 1292px #fff, 890px 948px #fff, 1670px 1284px #fff, 1891px 1613px #fff,
    1115px 693px #fff, 66px 17px #fff, 678px 587px #fff, 1447px 83px #fff,
    1266px 1164px #fff, 1323px 1085px #fff, 1081px 1450px #fff,
    1467px 206px #fff, 1212px 1436px #fff, 359px 1739px #fff;
  animation: animStar 300s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 170px 1258px #fff, 1355px 897px #fff, 76px 919px #fff,
    1569px 1119px #fff, 5px 158px #fff, 335px 378px #fff, 786px 1593px #fff,
    812px 587px #fff, 214px 392px #fff, 1179px 1078px #fff, 1050px 879px #fff,
    463px 715px #fff, 1860px 424px #fff, 1704px 1654px #fff, 362px 41px #fff,
    1706px 592px #fff, 1152px 1px #fff, 328px 645px #fff, 1045px 1808px #fff,
    698px 1433px #fff, 759px 1493px #fff, 1715px 532px #fff, 163px 1153px #fff,
    1843px 415px #fff, 838px 918px #fff, 1210px 77px #fff, 434px 617px #fff,
    130px 73px #fff, 674px 404px #fff, 831px 1452px #fff, 6px 149px #fff,
    1178px 1203px #fff, 513px 1719px #fff, 1293px 381px #fff, 1664px 1027px #fff,
    1018px 1178px #fff, 879px 732px #fff, 538px 628px #fff, 275px 308px #fff,
    33px 887px #fff, 1856px 400px #fff, 198px 116px #fff, 951px 1414px #fff,
    738px 99px #fff, 1102px 1909px #fff, 139px 131px #fff, 1943px 725px #fff,
    518px 1721px #fff, 119px 1649px #fff, 84px 315px #fff, 1729px 1146px #fff,
    865px 642px #fff, 1864px 240px #fff, 905px 963px #fff, 1269px 708px #fff,
    161px 48px #fff, 664px 298px #fff, 1816px 1968px #fff, 1660px 22px #fff,
    222px 1468px #fff, 1970px 1973px #fff, 1437px 14px #fff, 1849px 1219px #fff,
    411px 1376px #fff, 1864px 1285px #fff, 571px 658px #fff, 559px 108px #fff,
    1110px 1210px #fff, 384px 348px #fff, 179px 1847px #fff, 1612px 1991px #fff,
    1946px 1291px #fff, 581px 1984px #fff, 520px 1309px #fff, 271px 1420px #fff,
    148px 748px #fff, 607px 1864px #fff, 1576px 973px #fff, 1450px 86px #fff,
    307px 201px #fff, 432px 737px #fff, 1503px 1971px #fff, 1595px 80px #fff,
    457px 216px #fff, 85px 1383px #fff, 1131px 1549px #fff, 1974px 974px #fff,
    162px 96px #fff, 1106px 174px #fff, 1732px 1102px #fff, 986px 25px #fff,
    442px 1755px #fff, 166px 1486px #fff, 637px 1153px #fff, 1495px 1926px #fff,
    1299px 841px #fff, 1613px 75px #fff, 1703px 725px #fff, 641px 1340px #fff,
    156px 1130px #fff, 190px 1204px #fff, 1028px 708px #fff, 1714px 1620px #fff,
    787px 394px #fff, 217px 523px #fff, 26px 122px #fff, 855px 1863px #fff,
    1941px 703px #fff, 1024px 788px #fff, 1238px 1053px #fff, 243px 1363px #fff,
    222px 1730px #fff, 164px 916px #fff, 1230px 125px #fff, 1611px 845px #fff,
    1779px 1133px #fff, 1553px 982px #fff, 690px 104px #fff, 246px 46px #fff,
    651px 323px #fff, 425px 1110px #fff, 1330px 373px #fff, 1715px 1527px #fff,
    839px 534px #fff, 747px 1682px #fff, 1677px 17px #fff, 705px 269px #fff,
    527px 466px #fff, 1510px 440px #fff, 7px 49px #fff, 609px 725px #fff,
    536px 167px #fff, 1228px 339px #fff, 1793px 55px #fff, 819px 1472px #fff,
    1055px 859px #fff, 1810px 945px #fff, 1818px 1306px #fff, 1829px 374px #fff,
    842px 1677px #fff, 842px 708px #fff, 342px 1386px #fff, 984px 37px #fff,
    984px 400px #fff, 1247px 1308px #fff, 1057px 119px #fff, 1275px 1534px #fff,
    1792px 1114px #fff, 1765px 1727px #fff, 360px 227px #fff, 1036px 1000px #fff,
    648px 733px #fff, 1198px 1003px #fff, 509px 1679px #fff, 1861px 278px #fff,
    1878px 195px #fff, 887px 688px #fff, 1273px 1428px #fff, 185px 488px #fff,
    61px 669px #fff, 991px 1044px #fff, 779px 1721px #fff, 925px 1403px #fff,
    1958px 1677px #fff, 1372px 864px #fff, 475px 62px #fff, 1971px 844px #fff,
    1740px 998px #fff, 2000px 219px #fff, 199px 1066px #fff, 1858px 1403px #fff,
    319px 439px #fff, 835px 1880px #fff, 1733px 528px #fff, 1658px 1482px #fff,
    1621px 1725px #fff, 1730px 722px #fff, 1982px 651px #fff, 774px 826px #fff,
    355px 1017px #fff, 140px 380px #fff, 1368px 1446px #fff, 907px 1280px #fff,
    845px 1179px #fff, 84px 1230px #fff, 1313px 1607px #fff, 1828px 1718px #fff,
    1669px 1190px #fff, 129px 1155px #fff, 317px 178px #fff, 1303px 1193px #fff,
    1567px 802px #fff, 1681px 200px #fff, 558px 1595px #fff, 256px 190px #fff,
    1862px 313px #fff, 83px 848px #fff, 1818px 1607px #fff, 1957px 1122px #fff,
    484px 1119px #fff;
  animation: animStar 6000s linear infinite;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 248px 321px #fff, 5px 1427px #fff, 837px 1570px #fff,
    1678px 92px #fff, 1417px 1622px #fff, 761px 1759px #fff, 548px 1432px #fff,
    898px 860px #fff, 954px 590px #fff, 1483px 1801px #fff, 1891px 972px #fff,
    1747px 850px #fff, 467px 1333px #fff, 262px 842px #fff, 884px 1917px #fff,
    383px 1435px #fff, 1685px 1069px #fff, 1377px 524px #fff, 1036px 188px #fff,
    984px 1999px #fff, 1525px 1634px #fff, 761px 474px #fff, 1129px 1955px #fff,
    710px 764px #fff, 786px 1122px #fff, 539px 1685px #fff, 1526px 1261px #fff,
    960px 201px #fff, 1439px 379px #fff, 1057px 506px #fff, 1083px 51px #fff,
    16px 946px #fff, 830px 1339px #fff, 731px 761px #fff, 465px 442px #fff,
    1551px 609px #fff, 150px 951px #fff, 1657px 861px #fff, 447px 989px #fff,
    627px 1830px #fff, 1911px 497px #fff, 477px 1337px #fff, 942px 922px #fff,
    1810px 89px #fff, 392px 166px #fff, 1133px 94px #fff, 15px 1614px #fff,
    1438px 1167px #fff, 576px 322px #fff, 426px 1898px #fff, 572px 1874px #fff,
    1318px 169px #fff, 1259px 948px #fff, 683px 1753px #fff, 1467px 1554px #fff,
    668px 1903px #fff, 671px 347px #fff, 451px 1535px #fff, 244px 1862px #fff,
    131px 1477px #fff, 407px 1743px #fff, 1634px 21px #fff, 1092px 563px #fff,
    1276px 1949px #fff, 568px 66px #fff, 1716px 492px #fff, 1682px 524px #fff,
    461px 795px #fff, 1101px 211px #fff, 1410px 890px #fff, 114px 220px #fff,
    738px 1688px #fff, 1489px 919px #fff, 1398px 826px #fff, 289px 729px #fff,
    250px 1873px #fff, 999px 1165px #fff, 1257px 73px #fff, 12px 407px #fff,
    1005px 1065px #fff, 1830px 1746px #fff, 556px 1776px #fff, 804px 1677px #fff,
    1599px 262px #fff, 284px 574px #fff, 1878px 478px #fff, 1684px 628px #fff,
    660px 1720px #fff, 1968px 1677px #fff, 149px 105px #fff, 1923px 188px #fff,
    1362px 1103px #fff, 838px 697px #fff, 917px 1293px #fff, 556px 1896px #fff,
    453px 80px #fff, 1257px 1476px #fff, 1784px 469px #fff, 753px 1724px #fff,
    1409px 218px #fff;
  animation: animStar 900s linear infinite;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
